version: '3'
services:
  web:
    images: nginx:alpine
    ports:
      - "8080:8080"
    volumes:
      - web-data:/usr/share/nginx/html

  db:
    image: postgres:13
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: mydb
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  web-data:
  db-data:
