name: Django CI

on:
  push:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Copying configurations
      run: |
        cp contrib/env-sample .env

    - name: Install uv
      uses: astral-sh/setup-uv@v3
      with:
        enable-cache: true
        version: "latest"
    - name: Install dependencies
      run: uv sync --locked

    - name: Run Tests
      run: uv run pytest